.Container {
  box-sizing: border-box;
  width: 196px;
  background-color: #18191c;
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}
