.submenuContainer {
  position: relative;
  background: #18191c;
  left: 15px;
  z-index: 5;
  top: 0;
  color: #fff;
  padding: 6px 8px;
  width: 150px;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
}

.compont {
  position: absolute;
  left: 180px;
  top: 0px;
}

.button {
  color: #b9bbbe;
  margin: 2px 0;
  padding: 7px 8px;
  background-color: #18191c;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 600;
  user-select: none;
  width: 100%;
}

.button:hover {
  color: white;
  background-color: #3c45a5;
}

